@import 'moon.scss';

$winter-color: #0000a6;
$spring-color: #a25da4;
$summer-color: green;
$autumn-color: #b8620b;

.tor2e-event {
    .tor2e-date {
        font-weight: var(--font-semibold);
        cursor: pointer;
    }
}

.tor2e-calendar-view-root {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    row-gap: var(--size-2-1);

    .reckoning.hor-nav-pane {
        font-size: var(--font-ui-large);
        text-align: center;
    }

    .hor-nav-pane {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nav-button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 2px;
            height: var(--input-height);
            aspect-ratio: 1;
            cursor: pointer;
            border-radius: 50%;
            transition-duration: var(--anim-duration-superfast);
        }

        .nav-button:hover {
            background: var(--nav-item-background-hover);
        }
    }

    .hor-nav-pane.year .text {
        font-size: var(--font-ui-large)
    }

    .hor-nav-pane.month .text {
        font-size: var(--font-ui-medium)
    }

    .hor-nav-pane.month .icon {
        padding-right: calc(var(--icon-size) / 6)
    }

    .hor-nav-pane.month.winter .icon {
        color: $winter-color;
    }

    .hor-nav-pane.month.spring .icon {
        color: $spring-color;
    }

    .hor-nav-pane.month.summer .icon {
        color: $summer-color;
    }

    .hor-nav-pane.month.autumn .icon {
        color: $autumn-color;
    }

    .calendar-pane {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        justify-content: center;
        align-items: center;
        container-type: inline-size;
        container-name: calendar-pane;

        > .day, > .not-day {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-content: center;
            row-gap: var(--size-2-1);
            margin: 2px;
            aspect-ratio: 1;
            border-radius: 50%;
            transition-duration: var(--anim-duration-superfast);
            container-type: inline-size;

            span {
                text-align: center;
            }
        }

        > .day {
            cursor: pointer;
            word-break: break-all;
            font-size: min(var(--font-ui-medium), 5cqi);
        }

        > .not-day {
            font-size: min(var(--font-ui-smaller), 5cqi);
            color: var(--color-base-40);
            word-break: break-all;
        }

        > .long {
            font-size: min(var(--font-ui-smaller), 2.5cqi);
            word-break: break-all;
        }

        > .long.highlight-day span {
            margin-left: 4px;
            margin-right: 4px;
        }

        > .day-of-week {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 2px;
            aspect-ratio: 1;
            border-radius: 50%;
        }

        > .day:hover {
            background: var(--nav-item-background-hover);
        }

        > .highlight-day {
            box-shadow: inset 0 0 0 2px var(--nav-item-color);
            font-weight: var(--bold-weight);
        }

        .moon {
            $moon-size: 20cqi;
            width: $moon-size;
            height: $moon-size;

            .curvature,
            .curvature:after {
                width: $moon-size;
                height: $moon-size;
            }
        }

    }
}

@container calendar-pane (width < 400px) {
    .day span:has(.moon) {
        display: none;
    }
}

.tippy-box[data-theme~=obsidian] {
    background-color: var(--background-primary);
    color: var(--text-normal);
    box-shadow: 0 0 20px 4px rgba(154, 161, 177, .15),
    0 4px 80px -8px rgba(36, 40, 47, .25),
    0 4px 4px -2px rgba(91, 94, 105, .15);

    > .tippy-backdrop {
        background-color: var(--background-primary);
    }

    > .tippy-svg-arrow {
        fill: var(--background-primary);
    }

    > .tippy-content {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        row-gap: var(--size-2-1);
        padding: 1em;
        text-align: center;
        font-size: var(--font-ui-small);

        > .day-tooltip {

            .moon-container {
                $moon-size: 2em;
                display: flex;

                align-content: center;
                align-items: center;

                .moon {
                    width: $moon-size;
                    height: $moon-size;

                    .curvature,
                    .curvature:after {
                        width: $moon-size;
                        height: $moon-size;
                    }
                }

                .moon-details {
                    flex: 1 1 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: var(--size-4-2);
                }

                .title {
                    font-size: var(--font-ui-medium);
                }
            }
        }

        > .month-tooltip {
            display: grid;
            grid-template-columns: auto auto;
            grid-auto-rows: 1fr;
            justify-items: start;

            .text {
                margin-left: 0.5em;
            }

            .winter {
                color: $winter-color;
            }

            .spring {
                color: $spring-color;
            }

            .summer {
                color: $summer-color;
            }

            .autumn {
                color: $autumn-color;
            }

            .intercalary {
                font-style: italic;
            }

            .current {
                font-weight: var(--bold-weight);
            }

            .text.current:after {
                content: "•"
            }
            .text.current:before {
                content: "•"
            }
        }

    }

    &[data-placement^=top] > .tippy-arrow:before {
        border-top-color: var(--background-primary);
    }

    &[data-placement^=bottom] > .tippy-arrow:before {
        border-bottom-color: var(--background-primary);
    }

    &[data-placement^=left] > .tippy-arrow:before {
        border-left-color: var(--background-primary);
    }

    &[data-placement^=right] > .tippy-arrow:before {
        border-right-color: var(--background-primary);
    }
}

.tippy-box[data-placement^=top] > .tippy-svg-arrow {
    bottom: 0;
}

.tippy-box[data-placement^=top] > .tippy-svg-arrow:after,
.tippy-box[data-placement^=top] > .tippy-svg-arrow > svg {
    top: 16px;
    transform: rotate(180deg);
}

.tippy-box[data-placement^=bottom] > .tippy-svg-arrow {
    top: 0;
}

.tippy-box[data-placement^=bottom] > .tippy-svg-arrow > svg {
    bottom: 16px;
}

.tippy-box[data-placement^=left] > .tippy-svg-arrow {
    right: 0;
}

.tippy-box[data-placement^=left] > .tippy-svg-arrow:after,
.tippy-box[data-placement^=left] > .tippy-svg-arrow > svg {
    transform: rotate(90deg);
    top: calc(50% - 3px);
    left: 11px;
}

.tippy-box[data-placement^=right] > .tippy-svg-arrow {
    left: 0;
}

.tippy-box[data-placement^=right] > .tippy-svg-arrow:after,
.tippy-box[data-placement^=right] > .tippy-svg-arrow > svg {
    transform: rotate(-90deg);
    top: calc(50% - 3px);
    right: 11px;
}

.tippy-svg-arrow {
    width: 16px;
    height: 16px;
    fill: #333;
    text-align: initial;
}

.tippy-svg-arrow,
.tippy-svg-arrow > svg {
    position: absolute;
}
