.tor2e-calendar-view-root {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    row-gap: var(--size-2-1);

    .reckoning {
        font-size: var(--font-ui-large);
        text-align: center;
    }

    .hor-nav-pane {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nav-button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 2px;
            height: var(--input-height);
            aspect-ratio: 1;
            cursor: pointer;
            border-radius: 50%;
            transition-duration: var(--anim-duration-superfast);
        }

        .nav-button:hover {
            background: var(--nav-item-background-hover);
        }
    }

    .hor-nav-pane.year .text {
        font-size: var(--font-ui-large)
    }

    .hor-nav-pane.month .text {
        font-size: var(--font-ui-medium)
    }

    .hor-nav-pane.month.winter .icon {
        color: blue;
    }

    .hor-nav-pane.month.spring .icon {
        color: green;
    }

    .hor-nav-pane.month.summer .icon {
        color: gold;
    }

    .hor-nav-pane.month.autumn .icon {
        color: darkgoldenrod;
    }

    .calendar-pane {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        justify-content: center;
        align-items: center;
        container-type: inline-size;
        container-name: calendar-pane;

        > .day, > .not-day {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-content: center;
            row-gap: var(--size-2-1);
            margin: 2px;
            aspect-ratio: 1;
            border-radius: 50%;
            transition-duration: var(--anim-duration-superfast);
            container-type: inline-size;

            span {
                text-align: center;
            }
        }

        > .day {
            cursor: pointer;
            word-break: break-all;
            font-size: min(var(--font-ui-medium), 5cqi);
        }

        > .not-day {
            font-size: min(var(--font-ui-smaller), 5cqi);
            color: var(--color-base-40);
            word-break: break-all;
        }

        > .long {
            font-size: min(var(--font-ui-smaller), 2.5cqi);
            word-break: break-all;
        }

        > .long.highlight-day span {
            margin-left: 4px;
            margin-right: 4px;
        }

        > .day-of-week {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 2px;
            aspect-ratio: 1;
            border-radius: 50%;
        }

        > .day:hover {
            background: var(--nav-item-background-hover);
        }

        > .highlight-day {
            box-shadow: inset 0 0 0 2px var(--nav-item-color);
            font-weight: var(--bold-weight);
        }

        .moon {
            $moon-size: 20cqi;

            border-radius: 100%;
            width: $moon-size;
            height: $moon-size;
            overflow: hidden;
            display: flex;
            align-items: center;
            position: relative;
            box-shadow: 0 0 1px 1px var(--color-base-100);

            .half {
                width: 50%;
                height: 100%;
            }

            .light {
                background-color: var(--color-base-00);
            }

            .dark {
                background-color: var(--color-base-100);
            }

            .curvature,
            .curvature:after {
                top: 0;
                left: 0;
                width: $moon-size;
                height: $moon-size;
                position: absolute;
                border-radius: 100%;
                transform-style: preserve-3d;
                backface-visibility: hidden;
            }

            .curvature {
                background-color: var(--color-base-00); /* Dark */
            }

            .curvature:after {
                content: '';
                background-color: var(--color-base-100); /* Light */
                transform: rotateY(180deg);
            }
        }
    }
}

@container calendar-pane (width < 400px) {
    .day span:has(.moon) {
        display: none;
    }
}


